# Игнорировать файлы Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Игнорировать виртуальные окружения
venv/
env/

# Игнорировать папки с кешами
*.log
*.sqlite3

# Игнорировать настройки IDE
.vscode/
.idea/

# Игнорировать зависимости
node_modules/

# Добавьте сюда любые другие папки и файлы